# Create Table

In [3]:
import sqlite3

conn = sqlite3.connect('Er_database_508_Finalproject.db')
cursor = conn.cursor()

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS PatientInfo (
        Patientid INTEGER PRIMARY KEY AUTOINCREMENT,
        Insuranceid VARCHAR(255) NOT NULL,
        Fname VARCHAR(55) NOT NULL,
        Lname VARCHAR(55) NOT NULL,
        sex VARCHAR(6) CHECK(sex IN ('male', 'female')) NOT NULL,
        DOB DATE NOT NULL,
        ContactInfo VARCHAR(55) NOT NULL,
        Address VARCHAR(255) NOT NULL
    )
''')

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS History (
        Historyid INTEGER PRIMARY KEY AUTOINCREMENT,
        Patientid INTEGER,
        Pdisease VARCHAR(255) NOT NULL,
        Psurgery VARCHAR(255) NOT NULL,
        Ptrauma VARCHAR(255) NOT NULL,
        Pmedication VARCHAR(255) NOT NULL,
        FamilyH VARCHAR(255) NOT NULL
    )
''')

In [6]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Vitals (
        Vitalsid INTEGER PRIMARY KEY AUTOINCREMENT,
        Patientid INTEGER,
        Temp VARCHAR(3) NOT NULL,
        Hr VARCHAR(3) NOT NULL,
        Rr VARCHAR(3) NOT NULL,
        BP VARCHAR(10) NOT NULL,
        Bg VARCHAR(3) NOT NULL,
        BMI VARCHAR(10) NOT NULL
    )
''')

In [7]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS AlleImmu (
        AlleImmuid INTEGER PRIMARY KEY AUTOINCREMENT,
        Patientid INTEGER,
        Allergies VARCHAR(255) NOT NULL,
        Immunization VARCHAR(255) NOT NULL
    )
''')

In [8]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Tests (
        Testid INTEGER PRIMARY KEY AUTOINCREMENT,
        Patientid INTEGER,
        bloodgroup VARCHAR(10) NOT NULL,
        HbsAg VARCHAR(55) NOT NULL,
        Bhcg VARCHAR(55) NOT NULL,
        EKG VARCHAR(55) NOT NULL,
        ABG VARCHAR(55) NOT NULL
    )
''')

In [9]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Staff (
        Staffid INTEGER PRIMARY KEY AUTOINCREMENT,
        Patientid INTEGER,
        ConsultingDr VARCHAR(55) NOT NULL,
        SeniorDr VARCHAR(55) NOT NULL,
        JuniorDr VARCHAR(55) NOT NULL,
        Nurse1 VARCHAR(55) NOT NULL,
        Nurse2 VARCHAR(55) NOT NULL
    )
''')

In [ ]:
conn.commit()

# # Insert data in to the table

# # Table PatientInfo

In [10]:
cursor.executemany('''
    INSERT INTO PatientInfo (Insuranceid, Fname, Lname, sex, DOB, ContactInfo, Address)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', [
    ('ABC123', 'Charles', 'Jhonson', 'male', '1990-01-01', '123-456-7890', '123 Main St'),
    ('XYZ456', 'Amy', 'Dart', 'female', '1985-05-15', '987-654-3210', '456 Oak St'),
    ('DEF789', 'John', 'Charlestono', 'male', '1978-08-22', '555-123-4567', '789 Pine St'),
    ('GHI123', 'Niki', 'Hart', 'female', '1995-04-10', '222-333-4444', '567 Elm St'),
    ('JKL456', 'Taco', 'prince', 'male', '1980-11-30', '777-888-9999', '321 Maple St')
])

# #  Table History

In [11]:
cursor.executemany('''
    INSERT INTO History (Patientid, Pdisease, Psurgery, Ptrauma, Pmedication, FamilyH)
    VALUES (?, ?, ?, ?, ?, ?)
''', [
    (1, 'Flu', 'Appendectomy', 'Car accident', 'Aspirin', 'No significant history'),
    (2, 'Allergies', 'Gallbladder removal', 'Broken leg', 'Antibiotics', 'Family heart disease'),
    (3, 'Diabetes', 'Knee surgery', 'Head injury', 'Insulin', 'No significant history'),
    (4, 'High blood pressure', 'Cataract surgery', 'Sports injury', 'Beta blockers', 'Family diabetes'),
    (5, 'Asthma', 'Hernia repair', 'Fractured arm', 'Inhaler', 'No significant history')
])

# # Table Vitals

In [12]:
cursor.executemany('''
    INSERT INTO Vitals (Patientid, Temp, Hr, Rr, BP, Bg, BMI)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', [
    (1, '98.6', '75', '16', '120/80', '100', '23.5'),
    (2, '99.0', '80', '18', '130/90', '120', '25.0'),
    (3, '98.8', '72', '15', '115/75', '90', '22.0'),
    (4, '98.5', '78', '17', '125/85', '110', '24.0'),
    (5, '98.7', '76', '16', '122/78', '95', '23.0')
])

# # Table AlleImmu

In [13]:
cursor.executemany('''
    INSERT INTO AlleImmu (Patientid, Allergies, Immunization)
    VALUES (?, ?, ?)
''', [
    (1, 'Penicillin', 'Flu shot'),
    (2, 'Pollen', 'Tetanus vaccine'),
    (3, 'Shellfish', 'Hepatitis B vaccine'),
    (4, 'Dust mites', 'MMR vaccine'),
    (5, 'Cat hair', 'Pneumococcal vaccine')
])

# # Table Tests

In [17]:
cursor.executemany('''
    INSERT INTO Tests (Patientid, bloodgroup, HbsAg, Bhcg, EKG, ABG)
    VALUES (?, ?, ?, ?, ?, ?)
''', [
    (1, 'A+', 'Negative', 'Not pregnant', 'Normal', '7.4'),
    (2, 'O-', 'Positive', 'Pregnant', 'Abnormal', '7.2'),
    (3, 'B+', 'Negative', 'Not pregnant', 'Normal', '7.5'),
    (4, 'AB-', 'Positive', 'Not pregnant', 'Abnormal', '7.3'),
    (5, 'A-', 'Negative', 'Not pregnant', 'Normal', '7.6')
])

# # Table Staff

In [18]:
cursor.executemany('''
    INSERT INTO Staff (Patientid, ConsultingDr, SeniorDr, JuniorDr, Nurse1, Nurse2)
    VALUES (?, ?, ?, ?, ?, ?)
''', [
    (1, 'Dr. Smith', 'Dr. Johnson', 'Dr. Anderson', 'Nurse Amy', 'Nurse Olivia'),
    (2, 'Dr. Williams', 'Dr. Davis', 'Dr. Taylor', 'Nurse Lexi', 'Nurse Emma'),
    (3, 'Dr. Jones', 'Dr. Wilson', 'Dr. Miller', 'Nurse Diana', 'Nurse Charlotte'),
    (4, 'Dr. Brown', 'Dr. Lee', 'Dr. Harris', 'Nurse Brie', 'Nurse Ava'),
    (5, 'Dr. White', 'Dr. Moore', 'Dr. Clark', 'Nurse Lexi', 'Nurse Mia')
])

In [19]:
conn.commit()

# Queriese

# #Table PatientInfo

In [20]:
query_patient_female = "SELECT * FROM PatientInfo WHERE sex = 'female';"
cursor.execute(query_patient_female)
print("Female Patients:")
print(cursor.fetchall())

Female Patients:
[(2, 'XYZ456', 'Amy', 'Dart', 'female', '1985-05-15', '987-654-3210', '456 Oak St'), (4, 'GHI123', 'Niki', 'Hart', 'female', '1995-04-10', '222-333-4444', '567 Elm St')]

In [35]:
query_patient_30_male = "SELECT * FROM PatientInfo WHERE (strftime('%Y', 'now') - strftime('%Y', DOB)) - (strftime('%m-%d', 'now') < strftime('%m-%d', DOB)) >= 30 AND sex = 'male';"
cursor.execute(query_patient_30_male)
result = cursor.fetchall()
print("\nPatients who are 30 years old and are male:")
print(result)

Patients who are 30 years old and are male:
[(1, 'ABC123', 'Charles', 'Jhonson', 'male', '1990-01-01', '123-456-7890', '123 Main St'), (3, 'DEF789', 'John', 'Charlestono', 'male', '1978-08-22', '555-123-4567', '789 Pine St'), (5, 'JKL456', 'Taco', 'prince', 'male', '1980-11-30', '777-888-9999', '321 Maple St')]

In [36]:
query_patient_30 = "SELECT * FROM PatientInfo WHERE (strftime('%Y', 'now') - strftime('%Y', DOB)) - (strftime('%m-%d', 'now') < strftime('%m-%d', DOB)) >= 30;"
cursor.execute(query_patient_30)
print("\nPatients who are 30 years old:")
print(cursor.fetchall())

Patients who are 30 years old:
[(1, 'ABC123', 'Charles', 'Jhonson', 'male', '1990-01-01', '123-456-7890', '123 Main St'), (2, 'XYZ456', 'Amy', 'Dart', 'female', '1985-05-15', '987-654-3210', '456 Oak St'), (3, 'DEF789', 'John', 'Charlestono', 'male', '1978-08-22', '555-123-4567', '789 Pine St'), (5, 'JKL456', 'Taco', 'prince', 'male', '1980-11-30', '777-888-9999', '321 Maple St')]

# # Table History

In [23]:
query_no_significant_history = "SELECT * FROM History WHERE FamilyH = 'No significant history';"
cursor.execute(query_no_significant_history)
print("\nPatients with No Significant History in Family History:")
print(cursor.fetchall())

Patients with No Significant History in Family History:
[(1, 1, 'Flu', 'Appendectomy', 'Car accident', 'Aspirin', 'No significant history'), (3, 3, 'Diabetes', 'Knee surgery', 'Head injury', 'Insulin', 'No significant history'), (5, 5, 'Asthma', 'Hernia repair', 'Fractured arm', 'Inhaler', 'No significant history')]

In [37]:
query_knee_injury_inhaler = "SELECT * FROM History WHERE Ptrauma = 'Knee injury' AND Pmedication = 'Inhaler';"
cursor.execute(query_knee_injury_inhaler)
result = cursor.fetchall()

if result:
    print("\nPatients with Knee Injury and Use Inhaler:")
    print(result)
else:
    print("\nNo data found.")

No data found.

# # Table Vitals

In [25]:
query_patient_id_5 = "SELECT * FROM Vitals WHERE Patientid = 5;"
cursor.execute(query_patient_id_5)
print("\nPatients with Patient ID 5 in Vitals:")
print(cursor.fetchall())

Patients with Patient ID 5 in Vitals:
[(5, 5, '98.7', '76', '16', '122/78', '5.6', '23.0')]

In [38]:
query_temperature_99 = "SELECT * FROM Vitals WHERE Temp LIKE '99%';"
cursor.execute(query_temperature_99)
result = cursor.fetchall()

if result:
    print("\nPatients with Temperature of 99 in Vitals:")
    print(result)
else:
    print("\nNo data found.")

Patients with Temperature of 99 in Vitals:
[(2, 2, '99.0', '80', '18', '130/90', '6.0', '25.0')]

# # Table AlleImmu

In [27]:
query_cat_hair_allergies = "SELECT * FROM AlleImmu WHERE Allergies = 'Cat hair';"
cursor.execute(query_cat_hair_allergies)
print("\nPatients with Cat Hair Allergies:")
print(cursor.fetchall())

Patients with Cat Hair Allergies:
[(5, 5, 'Cat hair', 'Pneumococcal vaccine')]

In [28]:
query_shellfish_hepatitis_b = "SELECT * FROM AlleImmu WHERE Allergies = 'Shellfish' AND Immunization = 'Hepatitis B vaccine';"
cursor.execute(query_shellfish_hepatitis_b)
print("\nPatients with Shellfish Allergy and Have Taken Hepatitis B Vaccine:")
print(cursor.fetchall())

Patients with Shellfish Allergy and Have Taken Hepatitis B Vaccine:
[(3, 3, 'Shellfish', 'Hepatitis B vaccine')]

# # Table Tests

In [29]:
query_not_pregnant = "SELECT * FROM Tests WHERE Bhcg = 'Not pregnant';"
cursor.execute(query_not_pregnant)
print("\nPatients That Are Not Pregnant:")
print(cursor.fetchall())

Patients That Are Not Pregnant:
[(1, 1, 'A+', 'Negative', 'Not pregnant', 'Normal', '7.4'), (3, 3, 'B+', 'Negative', 'Not pregnant', 'Normal', '7.5'), (4, 4, 'AB-', 'Positive', 'Not pregnant', 'Abnormal', '7.3'), (5, 5, 'A-', 'Negative', 'Not pregnant', 'Normal', '7.6')]

In [30]:
query_not_pregnant_a_plus = "SELECT * FROM Tests WHERE Bhcg = 'Not pregnant' AND bloodgroup = 'A+';"
cursor.execute(query_not_pregnant_a_plus)
print("\nPatients That Are Not Pregnant and Have A+ Blood Group:")
print(cursor.fetchall())

Patients That Are Not Pregnant and Have A+ Blood Group:
[(1, 1, 'A+', 'Negative', 'Not pregnant', 'Normal', '7.4')]

# # Table Staff

In [31]:
query_dr_smith = "SELECT * FROM Staff WHERE ConsultingDr = 'Dr. Smith';"
cursor.execute(query_dr_smith)
print("\nPatients Being Treated by Dr. Smith:")
print(cursor.fetchall())

Patients Being Treated by Dr. Smith:
[(1, 1, 'Dr. Smith', 'Dr. Johnson', 'Dr. Anderson', 'Nurse Amy', 'Nurse Olivia')]

In [39]:
query_dr_brown_nurse_blue = "SELECT * FROM Staff WHERE ConsultingDr = 'Dr. Brown' AND Nurse1 = 'Nurse Brie';"
cursor.execute(query_dr_brown_nurse_blue)
print("\nPatients Being Treated by Dr. Brown and Nurse Brie:")
print(cursor.fetchall())

Patients Being Treated by Dr. Brown and Nurse Brie:
[(4, 4, 'Dr. Brown', 'Dr. Lee', 'Dr. Harris', 'Nurse Brie', 'Nurse Ava')]

In [40]:
conn.commit()

In [ ]:
conn.close()